.header {
  background-image: url(./img/wall.png);
  background-size: cover;

  text-align: center;
  font-size: 70px;
  font-style: italic;
  font-weight: 500;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  background-color: rgba(41, 41, 41, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay button {
  margin-top: 1rem;
}

.overlay img {
  margin-top: 1rem;
  width: 100%;
}

.main {
  background-image: url(./img/cork.png);
}

.pin {
  border-radius: 999px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 1;
}

.card {
  position: relative;
  width: 18rem;
}

.card:hover {
  transform: rotate(-10deg) scale(110%);
  transition: 200ms;
  z-index: 2;
  box-shadow: 10px 10px rgba(24, 24, 24, 0.4);
}

.card:hover .pin {
  display: none;
}

.card:not(:hover) {
  transition: 200ms;
}

.card-img-top {
  padding: 1rem;
  width: 600px;
  aspect-ratio: 1/1;
  padding-bottom: 0px;
}
