* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: Impact, "Arial Narrow Bold", sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.header {
  background-image: url(./img/wall.png);
  background-size: cover;
  padding: 20px;
  text-align: center;
  font-size: 70px;
  font-style: italic;
  font-weight: 500;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 2rem;
  justify-content: center;
}

.col-4 {
  width: 30%;
}

.card {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.card:hover {
  cursor: pointer;
}

.card img {
  width: 100%;
}

.card p {
  padding: 1rem;
  margin-bottom: 1rem;
}

.overlay {
  background-color: rgba(41, 41, 41, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.overlay button {
  margin: 1rem 2rem;
  align-self: flex-end;
  padding: 0.5rem;
  border-radius: 10px;
}

.overlay button:hover {
  cursor: pointer;
}

.overlay img {
  margin-top: 2rem;
  width: 100%;
}

.main {
  background-image: url(./img/cork.png);
  padding-bottom: 4rem;
}

.pin {
  border-radius: 999px;
  aspect-ratio: 1/1;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
  z-index: 1;
}

.card {
  position: relative;
  background-color: white;
}

.card:hover {
  transform: rotate(10deg) scale(110%);
  transition: 300ms;
  z-index: 2;
  box-shadow: 0 10px 15px rgba(43, 43, 43, 0.5);
}

.card:hover .pin {
  display: none;
}

.card:not(:hover) {
  transition: 200ms;
}

.card-img-top {
  padding: 1rem;
  width: 600px;
  padding-bottom: 0px;
}

/* UTILITIES */

.no-scroll {
  overflow: hidden;
}

.overlay.d-none {
  display: none;
}
